<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to(restaurant.name, owner_restaurant_path(restaurant.id)) %>
    </li>
  <% end %>
</ul>

<%= link_to "New restaurant", new_owner_restaurant_path %>
